*{
    margin: 0;
    padding: 20px 0px ;
    
}

.nav{
    white-space: nowrap;
    overflow-x: auto;
}
a{
    background-color: beige;
    border-radius: 15px;
    width: 100px ;
    height: 30px;
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    margin-left: 20px;
    border: 2px solid black;
}   
.nav__link{
    display: ;
    white-space: nowrap;
    overflow-x: auto;

}
.coloback{
    display: inline-block;
    width: 600px;
    height: 100px;
    background-color: aquamarine;
    border-radius:20px; 
}
    margin-left: 60px;;